@media (min-width: 1301px) and (max-width: 1440px) {
  /***/
  .x {
    display: contents;
  }

  /***/
  .sl1 {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 9px 0px;
    display: none;
    width: 150px;
    position: absolute;
    display: block;
    top: 40px;
    left: 170px;
    z-index: 2;
  }

  .left-side-ellipsis-box-padding {
    padding-bottom: 4px;
    padding-left: 20px;
  }

  .sl2 {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 9px 0px;
    display: none;
    width: 150px;
    position: absolute;
    display: block;
    top: 40px;
    left: -10px;
    z-index: 2;
  }

  .right-side-ellipsis-box-padding {
    padding-bottom: 4px;
    padding-left: 20px;
  }

  /***/
  /*** scroll functionality ***/
  .chat-history {
    overflow-y: scroll;
    height: 85%;
    width: 100%;
    position: absolute;
  }

  /*** scroll functionality ***/
  .comment-box {
    width: 100%;
    display: flex;
    min-height: 62px;
    padding: 5px 10px;
    border-top: 1px solid grey;
    background-color: #efefef;
    position: absolute;
    bottom: 0;
  }

  .fa-grin-alt {
    font-size: 25px;
  }

  .fa-microphone {
    font-size: 22px;
  }

  .form-group {
    padding-top: 7px;
  }

  .chat-section {
    height: calc(100% - 110px);
    background: url("../images/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  }

  .microphone {
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .smiley-emoji {
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .write-comment-box .form-group .form-control {
    border-radius: 21px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .arena {
    height: 100vh;
    display: flex;
    width: 100%;
    position: fixed;
  }

  i {
    color: #82898c;
  }

  .group-or-senders-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    font-size: 16px;
    font-weight: normal;
  }

  .phone-numbers {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
  }

  .header {
    background-color: #eeeeee;
  }

  .header-logged-in-user-applied-class {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .logged-in-user-image {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sender-header-contents {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .search-box {
    height: 50px;
    background-color: #f8f8f8;
  }

  .control-input-width {
    padding: 6px;
  }

  .search-box .control-input-width .form-control {
    border-radius: 16px;
    font-size: 15px;
  }

  .logo-seciton-flex {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .l2,
.l3 {
    margin-left: 8px;
  }

  /***/
  .chat-title-and-contents {
    width: 100%;
    overflow: hidden;
  }

  .sender-contents {
    font-size: 13px;
    color: #454545;
  }

  .scroll-for-left-side-messages {
    width: 100%;
  }

  .messages-pending {
    text-align: right;
  }

  .message {
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .message-of-sender {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
  }

  .chat-history .chat-box {
    background-color: #ffffff;
    height: 72px;
  }

  .chat-history .chat-box:active {
    background-color: #e9ebeb;
  }

  .chat-history .chat-box:hover {
    background-color: #f4f5f5;
  }

  .chat-box {
    display: flex;
    width: 100%;
    align-items: center;
    padding-right: 15px;
    color: #262626;
  }

  .chat-box-sender-image {
    height: 49px;
    width: 49px;
    border-radius: 50%;
  }

  .image-section {
    padding-left: 13px;
    padding-right: 15px;
  }

  .time {
    font-size: 12px;
    text-align: right;
  }

  .badge-pill {
    border-radius: 50%;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }

  .badge-primary {
    background-color: #09d261;
    color: #fff;
  }
}
@media (min-width: 901px) and (max-width: 1300px) {
  /***/
  .x {
    display: contents;
  }

  /***/
  .sl1 {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 9px 0px;
    display: none;
    width: 150px;
    position: absolute;
    display: block;
    top: 40px;
    left: 170px;
    z-index: 2;
  }

  .left-side-ellipsis-box-padding {
    padding-bottom: 4px;
    padding-left: 20px;
  }

  .sl2 {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 9px 0px;
    display: none;
    width: 150px;
    position: absolute;
    display: block;
    top: 40px;
    left: -10px;
    z-index: 2;
  }

  .right-side-ellipsis-box-padding {
    padding-bottom: 4px;
    padding-left: 20px;
  }

  /*** scroll functionality ***/
  .chat-history {
    overflow-y: scroll;
    height: 85%;
    width: 100%;
    position: absolute;
  }

  /*** scroll functionality ***/
  .comment-box {
    width: 100%;
    display: flex;
    min-height: 62px;
    padding: 5px 10px;
    border-top: 1px solid grey;
    background-color: #efefef;
    position: absolute;
    bottom: 0;
  }

  .fa-grin-alt {
    font-size: 25px;
  }

  .fa-microphone {
    font-size: 22px;
  }

  .form-group {
    padding-top: 7px;
  }

  .chat-section {
    height: calc(100% - 110px);
    background: url("../images/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  }

  .microphone {
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .smiley-emoji {
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .write-comment-box .form-group .form-control {
    border-radius: 21px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .arena {
    height: 100vh;
    display: flex;
    width: 100%;
    position: fixed;
  }

  i {
    color: #82898c;
  }

  .group-or-senders-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    font-size: 16px;
    font-weight: normal;
  }

  .phone-numbers {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
  }

  .header {
    background-color: #eeeeee;
  }

  .header-logged-in-user-applied-class {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .logged-in-user-image {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sender-header-contents {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .search-box {
    height: 50px;
    background-color: #f8f8f8;
  }

  .control-input-width {
    padding: 6px;
  }

  .search-box .control-input-width .form-control {
    border-radius: 16px;
  }

  .logo-seciton-flex {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .l2,
.l3 {
    margin-left: 8px;
  }

  /***/
  .chat-title-and-contents {
    width: 100%;
    overflow: hidden;
  }

  .sender-contents {
    font-size: 13px;
    color: #454545;
  }

  .scroll-for-left-side-messages {
    width: 100%;
  }

  .messages-pending {
    text-align: right;
  }

  .message {
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .message-of-sender {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
  }

  .chat-history .chat-box {
    background-color: #ffffff;
    height: 72px;
  }

  .chat-history .chat-box:active {
    background-color: #e9ebeb;
  }

  .chat-history .chat-box:hover {
    background-color: #f4f5f5;
  }

  .chat-box {
    display: flex;
    width: 100%;
    align-items: center;
    padding-right: 15px;
    color: #262626;
  }

  .chat-box-sender-image {
    height: 49px;
    width: 49px;
    border-radius: 50%;
  }

  .image-section {
    padding-left: 13px;
    padding-right: 15px;
  }

  .time {
    font-size: 12px;
    text-align: right;
  }

  .badge-pill {
    border-radius: 50%;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }

  .badge-primary {
    background-color: #09d261;
    color: #fff;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  /***/
  .x {
    display: contents;
  }

  /***/
  .sl1 {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 9px 0px;
    display: none;
    width: 150px;
    position: absolute;
    display: block;
    top: 40px;
    left: 170px;
    z-index: 2;
  }

  .left-side-ellipsis-box-padding {
    padding-bottom: 4px;
    padding-left: 20px;
  }

  /*** scroll functionality ***/
  .chat-history {
    overflow-y: scroll;
    height: 85%;
    width: 100%;
    position: absolute;
  }

  /*** scroll functionality ***/
  .comment-box {
    width: 100%;
    display: flex;
    min-height: 62px;
    padding: 5px 10px;
    border-top: 1px solid grey;
    background-color: #efefef;
    position: absolute;
    bottom: 0;
  }

  .fa-grin-alt {
    font-size: 25px;
  }

  .fa-microphone {
    font-size: 22px;
  }

  .form-group {
    padding-top: 7px;
  }

  .chat-section {
    background: url("../images/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  }

  .microphone {
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .smiley-emoji {
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .write-comment-box .form-group .form-control {
    border-radius: 21px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .arena {
    height: 100vh;
    display: flex;
    overflow: hidden;
  }

  i {
    color: #82898c;
  }

  .group-or-senders-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    font-size: 16px;
    font-weight: normal;
  }

  .phone-numbers {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
  }

  .header {
    background-color: #eeeeee;
  }

  .header-logged-in-user-applied-class {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .logged-in-user-image {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sender-header-contents {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .search-box {
    height: 50px;
    background-color: #f8f8f8;
  }

  .control-input-width {
    padding: 6px;
  }

  .search-box .control-input-width .form-control {
    border-radius: 16px;
  }

  .logo-seciton-flex {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .l2,
.l3 {
    margin-left: 8px;
  }

  /***/
  .chat-title-and-contents {
    width: 100%;
    overflow: hidden;
  }

  .sender-contents {
    font-size: 13px;
    color: #454545;
  }

  .messages-pending {
    text-align: right;
  }

  .message {
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .message-of-sender {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
  }

  .chat-history .chat-box {
    background-color: #ffffff;
    height: 72px;
  }

  .chat-history .chat-box:active {
    background-color: #e9ebeb;
  }

  .chat-history .chat-box:hover {
    background-color: #f4f5f5;
  }

  .chat-section {
    height: calc(100% - 110px);
    background: url("../images/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  }

  .scroll-for-left-side-messages {
    width: 100%;
  }

  .chat-box {
    display: flex;
    width: 100%;
    align-items: center;
    padding-right: 15px;
    color: #262626;
  }

  .chat-box-sender-image {
    height: 49px;
    width: 49px;
    border-radius: 50%;
  }

  .image-section {
    padding-left: 13px;
    padding-right: 15px;
  }

  .time {
    font-size: 12px;
    text-align: right;
  }

  .badge-pill {
    border-radius: 50%;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }

  .badge-primary {
    background-color: #09d261;
    color: #fff;
  }
}
@media (min-width: 200px) and (max-width: 768px) {
  .x {
    display: none;
  }

  .sl1 {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 9px 0px;
    display: none;
    width: 150px;
    position: absolute;
    display: block;
    top: 40px;
    left: 170px;
    z-index: 2;
  }

  .left-side-ellipsis-box-padding {
    padding-bottom: 4px;
    padding-left: 20px;
  }

  /*** scroll functionality ***/
  .chat-history {
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    position: absolute;
  }

  /*** scroll functionality ***/
  .arena {
    width: 100%;
    height: 100vh;
  }

  .group-or-senders-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    font-size: 16px;
    font-weight: normal;
  }

  .phone-numbers {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
  }

  .header {
    background-color: #eeeeee;
  }

  .header-logged-in-user-applied-class {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .logged-in-user-image {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sender-header-contents {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .search-box {
    height: 50px;
    background-color: #f8f8f8;
  }

  .control-input-width {
    padding: 6px;
  }

  .search-box .control-input-width .form-control {
    border-radius: 16px;
  }

  .logo-seciton-flex {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .sm-header {
    position: fixed;
  }

  i {
    color: #82898c;
  }

  .l2,
.l3 {
    margin-left: 8px;
  }

  /***/
  .chat-title-and-contents {
    width: 100%;
    overflow: hidden;
  }

  .sender-contents {
    font-size: 13px;
    color: #454545;
  }

  .messages-pending {
    text-align: right;
  }

  .message {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
  }

  .message-of-sender {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
  }

  .chat-history .chat-box {
    background-color: #ffffff;
    height: 72px;
  }

  .chat-history .chat-box:active {
    background-color: #e9ebeb;
  }

  .chat-history .chat-box:hover {
    background-color: #f4f5f5;
  }

  .scroll-for-left-side-messages {
    width: 100%;
  }

  .chat-box {
    display: flex;
    width: 100%;
    align-items: center;
    padding-right: 15px;
    color: #262626;
  }

  .chat-section {
    height: 100%;
    background: url("../images/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  }

  .chat-box-sender-image {
    height: 49px;
    width: 49px;
    border-radius: 50%;
  }

  .image-section {
    padding-left: 13px;
    padding-right: 15px;
  }

  .time {
    font-size: 12px;
    text-align: right;
  }

  .badge-pill {
    border-radius: 50%;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }

  .badge-primary {
    background-color: #09d261;
    color: #fff;
  }
}
body {
  background-color: #d5dbd7;
}

@media (min-width: 1441px) and (max-width: 5000px) {
  /***/
  .x {
    display: contents;
  }

  /***/
  /***/
  .sl1 {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 9px 0px;
    display: none;
    width: 150px;
    position: absolute;
    display: block;
    top: 40px;
    left: 170px;
    z-index: 2;
  }

  .left-side-ellipsis-box-padding {
    padding-bottom: 4px;
    padding-left: 20px;
  }

  .sl2 {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    padding: 9px 0px;
    display: none;
    width: 150px;
    position: absolute;
    display: block;
    top: 40px;
    left: -10px;
    z-index: 2;
  }

  .right-side-ellipsis-box-padding {
    padding-bottom: 4px;
    padding-left: 20px;
  }

  /***/
  .scroll-for-left-side-messages {
    width: 100%;
  }

  .comment-box {
    overflow: hidden;
    background-color: #333;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    min-height: 62px;
    padding: 5px 10px;
    border-top: 1px solid grey;
    background-color: #efefef;
  }

  .fa-grin-alt {
    font-size: 25px;
  }

  .fa-microphone {
    font-size: 22px;
  }

  .form-group {
    padding-top: 7px;
  }

  .chat-section {
    height: 100%;
    background: url("../images/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  }

  .microphone {
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .smiley-emoji {
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .write-comment-box .form-group .form-control {
    border-radius: 21px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .green-box {
    height: 127px;
    background-color: #009688;
  }

  .arena {
    width: 1396px;
    border-radius: 3px;
    top: 19px;
    display: flex;
    position: relative;
    height: calc(100vh - 38px);
    background-color: #dfdfdf;
    margin: 0 auto;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  i {
    color: #82898c;
  }

  .group-or-senders-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    font-size: 16px;
    font-weight: normal;
  }

  .phone-numbers {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
  }

  .header {
    background-color: #eeeeee;
  }

  .header-logged-in-user-applied-class {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .logged-in-user-image {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sender-header-contents {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .search-box {
    height: 50px;
    background-color: #f8f8f8;
  }

  .control-input-width {
    padding: 6px;
  }

  .search-box .control-input-width .form-control {
    border-radius: 16px;
  }

  .logo-seciton-flex {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .l2,
.l3 {
    margin-left: 8px;
  }

  /***/
  .chat-title-and-contents {
    width: 100%;
    overflow: hidden;
  }

  .sender-contents {
    font-size: 13px;
    color: #454545;
  }

  .messages-pending {
    text-align: right;
  }

  .message {
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .message-of-sender {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
  }

  .chat-history {
    overflow-y: scroll;
    height: 85%;
    width: 100%;
    position: absolute;
  }

  .chat-history .chat-box {
    background-color: #ffffff;
    height: 72px;
  }

  .chat-history .chat-box:active {
    background-color: #e9ebeb;
  }

  .chat-history .chat-box:hover {
    background-color: #f4f5f5;
  }

  .chat-box {
    display: flex;
    width: 100%;
    align-items: center;
    padding-right: 15px;
    color: #262626;
  }

  .chat-box-sender-image {
    height: 49px;
    width: 49px;
    border-radius: 50%;
  }

  .image-section {
    padding-left: 13px;
    padding-right: 15px;
  }

  .time {
    font-size: 12px;
    text-align: right;
  }

  .badge-pill {
    border-radius: 50%;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }

  .badge-primary {
    background-color: #09d261;
    color: #fff;
  }
}

/*# sourceMappingURL=styles.css.map */
