$green-box-color: #009688;
$body-color: #d8dad3;
$main-content-area-color: #dfdfdf;
$header-color: #eeeeee;
$loggedInUserBorderColor: #dfe5e7;
$header-side-logo-color: #81888a;
$right-side-bg-color: #f7f9fa;
$search-box-color: #f8f8f8;
$header-right-side-logo-color: #82898c;
$chat-active-color: #e9ebeb;
$chat-without-hover-color: #ffffff;
$chat-box-text-color: #262626;
$sender-text-content-color: #454545;
$phone-numbers-color: rgba(0, 0, 0, 0.6);
$comment-box-color: #efefef;
$chat-box-hover: #f4f5f5;
$sender-of-message: rgba(0, 0, 0, 0.6);
